openapi: 3.1.0
info:
  version: 1.0.0
  title: Multitrade Softech Pvt. Ltd.
  termsOfService: 'https://www.mtsp.co.in/terms/'
  contact:
    email: api@mtsp.co.in
    url: 'https://www.mtsp.co.in'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://redocly.github.io/openapi-template/logo.png'
  description:
    $ref: ./info-description.md
tags:
  - name: Echo
    description: Example echo operations.
  - name: User
    description: Operations about users.
  - name: Tag
    description: This is a tag description.
servers:
  - url: 'https://{tenant}'
    variables:
      tenant:
        default: wss1.mtsp.co.in:16107
        description: Your tenant id
  - url: 'https://wss1.mtsp.co.in:16107'
paths:
  '/users/{username}':
    $ref: 'paths/users_{username}.yaml'
  /echo:
    $ref: paths/echo.yaml
  /pathItem:
    $ref: paths/path-item.yaml
  /pathItemWithExamples:
    $ref: paths/path-item-with-examples.yaml
components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://www.mtsp.co.in/api/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic
